.App {
  text-align: center;
}
.row-ok {
  background-color: #77e977ff !important;
}

.row-error {
  background-color: #f0b6b6ff !important;
}

.cell-error {
  background-color: #f72424ff !important;
}