.App {
  text-align: center;
}
.row-ok {
  background-color: #a1f1b4 !important;
}

.row-error {
  background-color: #eba7ad !important;
}

.cell-error {
  background-color: #c42837 !important;
}

.hidden-row {
  display: none !important;
}
